
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Ubuntu&display=swap');
body{
    font-family: 'Oswald', Verdana, Tahoma, sans-serif;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-family: 'Ubuntu', 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #669BBC;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto; 
}

nav a {
    margin: 0 auto;
    color: white; 
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 15px;
}
#hero-img {
    width: 100%;
}
.button-box{
    margin: 0 auto;
    text-align: center; 
}
main section{
    margin: 0 auto;
    text-align: center; 
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
}
.home-title{
    font-family: 'Ubuntu', 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    margin-top: 10px;
}
h4{
    color: white;
}

header{
    background-color: #780000;
    color: wheat;

}
nav a:hover{
    background-color: #003049;
    color: white;
}
.book, .join{
    font-size: 18px;
    background-color: #003049;
    color: wheat;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #780000;
    color: white;
}
#background{
    background-color: #003049;
}
.msg
{
    background-color: #C1121F;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color:white;
}
.msg p{
    font-size: .8em;
    color:white;
    padding-bottom: 15px;
}
footer{
    background-color: #669BBC;
    color:white;
    padding: 25px 50px;
    margin-top:  200px;

}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: wheat
}
footer .social img{
    padding-top: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top:  10px;
}
#logo_link{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card{
       margin: 200px 0px;
}
.card-img{
    border: 10px;
}