<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WDD130 Component</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        
        <h1>Web Component</h1>
        <h3><a href="https://www.w3schools.com/howto/howto_css_dropdown.asp">w3schools source</a></h3>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="../index.html">Home</a>
              <a href="../wwr/index.html">White Water</a>
              <a href="../math/index.html">Math Site</a>
            </div>
        </div>   
         

    </body>
</html>